In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [64]:

Grc_df = pd.read_csv('Grocery_dataset.csv')

Grc_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [65]:

Grc_df.info()

Grc_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5000 non-null   object
 1   Item_Weight                4182 non-null   float64
 2   Item_Fat_Content           5000 non-null   object
 3   Item_Visibility            5000 non-null   float64
 4   Item_Type                  5000 non-null   object
 5   Item_MRP                   5000 non-null   float64
 6   Outlet_Identifier          5000 non-null   object
 7   Outlet_Establishment_Year  5000 non-null   int64
 8   Outlet_Size                3561 non-null   object
 9   Outlet_Location_Type       5000 non-null   object
 10  Outlet_Type                5000 non-null   object
 11  Item_Outlet_Sales          5000 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 468.9+ KB

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,4182.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,12.959605,0.065671,141.344520,1997.900800,2188.381667
std,4.661704,0.051206,62.401514,8.290423,1703.131187
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.890000,0.026839,94.119250,1987.000000,846.231800
50%,12.800000,0.054251,143.315400,1999.000000,1808.312800
75%,17.100000,0.093850,186.472700,2004.000000,3091.975200
max,21.350000,0.328391,266.888400,2009.000000,11445.102000

In [66]:

unique_fat_content = Grc_df['Item_Fat_Content'].unique()
print("Unique Item Fat Content types:", unique_fat_content)

Unique Item Fat Content types: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [67]:

num_unique_fat_content = Grc_df['Item_Fat_Content'].nunique()
print("Number of unique Item Fat Content types:", num_unique_fat_content)

Number of unique Item Fat Content types: 5

In [68]:

Grc_df['Item_Fat_Content'] = Grc_df['Item_Fat_Content'].str.lower()


unique_fat_content_fixed = Grc_df['Item_Fat_Content'].unique()
print("Unique Item Fat Content types after standardization:", unique_fat_content_fixed)

Unique Item Fat Content types after standardization: ['low fat' 'regular' 'lf' 'reg']

In [69]:

Grc_df.loc[:, 'Item_Fat_Content'] = Grc_df['Item_Fat_Content'].replace({
    'low fat': 'low',
    'lf': 'low',
    'lowfat': 'low',
    'reg': 'regular',
    'regular': 'regular'
})



unique_fat_content_final = Grc_df['Item_Fat_Content'].unique()
print("Unique Item Fat Content types after cleaning:", unique_fat_content_final)
#Initially there were five values. But there were repeated values ​​among them. 
#After equating the repeated values, it turns out that there are actually two different values.

Unique Item Fat Content types after cleaning: ['low' 'regular']